# =========================
# Environment variables
# =========================
.env
*.env
Assignment3/.env

# =========================
# Python virtual environments
# =========================
venv/
venv_*/
venva/
.venv/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp
# =========================
*.log
